@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap");

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: #fafafa;
  font-size: 14px;
  padding: 70px 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.onboarding {
  position: relative;
  max-width: 1000px;
  width: 100%;
  max-height: 740px;
  height: 100%;
}

.button {
  position: absolute;
  height: 40px;
  line-height: 40px;
  background-color: #f1f1f1;
  border-radius: 2px;
  border: 0;
  margin: 0;
  padding: 0 12px;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button:hover {
  background-color: #e8e8e8;
}

.button:active {
  margin-top: 1px;
}

.onboarding__item {
  border-radius: 4px;
}
.onboarding__item--top {
  position: absolute;
  width: 300px;
  height: 100px;
  background-color: #26de81;
  top: 0;
  left: 0;
}

.onboarding__item--left {
  position: absolute;
  height: 300px;
  width: 100px;
  background-color: #4b7bec;
  left: 20px;
  bottom: -20px;
}

.onboarding__item--right {
  position: absolute;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  top: 55%;
  right: 20%;
  background-color: #fc5c65;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #000;
  opacity: 0.7;
  z-index: 1;
  -webkit-transition: opacity 0.1ss;
  -o-transition: opacity 0.1ss;
  transition: opacity 0.1ss;
}

.hide {
  z-index: -100;
  opacity: 0;
}

@media screen and (max-width: 645px) {
  .onboarding__item--left {
    height: 230px;
    left: 0;
    bottom: 0;
  }

  .onboarding__item--right {
    right: 0;
    top: unset;
    bottom: 30px;
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 360px) {
  .onboarding__item--top {
    width: 90%;
  }
}
@media screen and (max-width: 320px) {
  .button {
    height: 80px;
  }
}
